@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,400;1,700&family=Bebas+Neue&family=Montserrat:ital,wght@0,500;1,800&family=Open+Sans:ital,wght@0,800;1,400&family=Pacifico&display=swap');

/* 
font-family: 'Arvo', serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    background-color: rgba(136, 136, 28, 0.473); /*fondo html*/
    
}

body{
    background-color: rgba(255, 228, 196, 0.87); /*fondo body*/
    width: auto; /*largo hotizontal automatico*/
    height: auto; /*Largo vertical automatico*/
    background-image: linear-gradient(rgba(255, 255, 0, 0.561) , rgba(0, 255, 8, 0.43) , rgba(255, 0, 0, 0.416));
}

header{ 
    width: auto; /*largo hotizontal automatico*/
    padding-bottom: 25px;
}

header h1{
   /* background-color: rgba(127, 255, 212, 0.479);*/
    background-image: url(./Imagenes/faro.jpg);

    text-align: center;
    padding: 20px; /*espacio entre el contenido y su caja*/  
    border: 3px groove rgb(54, 53, 53);
    color: rgba(2, 2, 10, 0.951);
    border-radius: 25px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}

header nav{
    text-align: center; /*centra el texto*/
    border: 6px double rgba(194, 175, 158, 0.459); 
    border-radius: 25px;
    background-color: rgb(102, 102, 161);
}

header nav ul li{
    display: inline-block; /* en una linea en bloque*/
    position: relative;
    background-color: rgb(201, 179, 138); /*colon del fondo de la caja*/
    padding: 10px; /*espacio entre el contenido y su caja*/
    margin: 3px; /*separacion entre una caja y otra*/
    width: auto; /*adapta el largo horizontal automaticamente. (si los quiero todos iguales usar porcentaje)*/
    height: auto;
    border-radius: 50px; /*redondeo de la caja contenedora*/
    border: 2px solid rgb(242, 243, 238);
}

header nav ul li a{
    color: rgb(22, 18, 26); 
    text-decoration: none; /*le saca el subrayado al enlace*/
}


main{
    /*width: 70%;*/
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    
}
.TitulosGenerales{
    text-align: center;
    padding-bottom: 15px;

    display: inline-block; /* en una linea en bloque*/
    position: relative;
    background-color: rgb(201, 138, 186); /*colon del fondo de la caja*/
    padding: 10px; /*espacio entre el contenido y su caja*/
    margin: 3px; /*separacion entre una caja y otra*/
    width: auto; /*adapta el largo horizontal automaticamente. (si los quiero todos iguales usar porcentaje)*/
    height: auto;
    border-radius: 20px; /*redondeo de la caja contenedora*/
}

.PGenerales{
    text-align: center;
    max-width: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid ;
}
section{
    text-align: center;
}

footer{
    /*width: 10%;*/
    background-color: burlywood;
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0
}