/* RESETEO DE CSS */
*{
    box-sizing: border-box; /*NO DEJA QUE LAS COSAS SE CHOQUEN Y SE SUPERPONGAN*/ 
    margin: 0;
    padding: 0;
}


/* UNIDADES DE PANTALLA
        vh ---- viewport height (altura)
        vw ----- viewport width (ancho)
*/

html{
 text-align: center; /*CENTRA EL TEXTO*/

 background: linear-gradient(rgba(47, 45, 45, 0.843) 0%, rgb(0, 0, 0) 70%); 
 /* fondo de todo el documento de html en degrade, en este caso va de un color claro a uno mas oscuro */

 min-height: 100vh;
}

div {
    background-color: black; /*COLOR DE FONDO*/
    color: white; /*COLOR DE TEXTO*/
    width: 95%; /* MARGENES DEL COSTADO*/ /* Se usa porcentaje para que sea relativo*/
    max-width: 450px; 
    margin: auto; /*segun como acomoda la pagina*/
    margin-top: 50px; /* MARGEN DE ARRIBA*/
    padding: 70px;
    /* FALLBACK DE FUENTES
    fallback --- si lo primero no anda, segui con lo segundo
    */ /*la familia de fuentes, agrupa fuentes similares en aspecto*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

form{
    width: 100%;
    text-align: left; /* alineacion de texto a la izquierda*/
}

label{
    margin-right: auto; /* margen derecho*/
    min-width: 100%; 
    font-size: 14px;
    font-weight: 700; /* grosor de la letra*/
}

input{ /* caja de texto*/
    width: 100%; /**/
    background-color: #121212;
    border: 1px solid #a7a7a7; /*borde de un pixel en negro*/
    margin-top: 10px; /*que se separe 10 pixeles de el margen de arriba*/
    height: 30px; /* ancho de la caja del formulario*/
    border-radius: 2px; /*borde redondeado muy sutil*/
    padding: 15px; /* da relleno para adentro */
    color: white; /*color de la letra de la caja de texto*/
    /* cubic heizer curve */
    transition: border .3s ease-in-out;
}

input:hover{
    border: 1px solid #ffffff;
}

.logInButton{ /*desde la class (.) le damos estilo a este boton*/

    background-color: #1ed760; /*color de fondo en hexadecimal*/
    width: 100%; 
    color: black;
    font-weight: bold; /*fuente en negrita*/
    padding: 10px;
    border-radius: 25px; /* borde redondeado*/
    margin-bottom: 15px; /*separacion del boton del siguiente contenido, seria el has olvidado contraseña*/
    border: none; /*elimina el borde del boton*/
    cursor: pointer;
}

.logInButton:hover{  /* hover es posicionarte con el mouse y realizar un cambio. En este caso  agranda un poco la letra*/
    transform: scale(1.05); /*escala la imagen un 0.05 %*/
    /*lo que esta en parentesis es una FUNCION matematica.*/
}

.center { /*clase*/ /* has olvidado tu contraseña. no tienen cuenta registrate. estan dentro de esta clase que alinea el texto al centro */
    text-align: center;
}

hr{
    margin: 20px; /*separacion de los margenes*/
    border-color: #a7a7a7; /*color del borde*/
}

span{ /*aplica a todos los span*/ 
    text-decoration: underline; /*subraya el texto*/
    cursor: pointer; /*cambia el cursor a un dedo*/
    display: inline-block; /*te seguis comportando como linea pero tenes propiedades de un bloque*/
    width: 100%;
}

/* los ":" son un pseudo selector de una etiqueta*/
span:hover{ /* hover es posicionarte con el mouse y realizar un cambio. En este caso se cambia el color*/ 
    color: #1ed760;
}

p{
    margin-top: 40px; /*seoara el parrafo 40 pixeles del lado superior*/
    color: #a7a7a7;
}

p>span{ /* <span> hijos directos de <p>*/
    text-decoration: none; 
    color: white;
    display: inline; /*display en linea*/
}

p>span:hover{ /*<span> hijos directos de <p> */ /* hover es posicionarte con el mouse y realizar un cambio. En este caso  agranda un poco la letra*/
    text-decoration: underline; /*subraya el texto al posicionar el mouse*/
    color: white; /*cambia el texto a blanco*/
    cursor: text; /* cambia el cursor*/
}



