*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    background-color: rgba(136, 136, 28, 0.473); /*fondo html*/
    
}

body{
    background-color: rgba(255, 228, 196, 0.87); /*fondo body*/
    width: auto; /*largo hotizontal automatico*/
    height: auto; /*Largo vertical automatico*/
    background-image: linear-gradient(rgba(255, 255, 0, 0.561) , rgba(0, 0, 255, 0.43) , rgba(255, 0, 0, 0.416));
}

header{ 
    width: auto; /*largo hotizontal automatico*/
    padding-bottom: 25px;
}

header h1{
    background-color: rgba(127, 255, 212, 0.479);
    text-align: center;
    padding: 25px; /*espacio entre el contenido y su caja*/  
    border: 3px groove black;
    border-radius: 25px;
    margin-bottom: 10px;
}

header nav{
    text-align: center; /*centra el texto*/
    border: 6px double rgba(194, 175, 158, 0.459); 
    border-radius: 25px;
    background-color: rgb(102, 102, 161);
}

header nav ul li{
    display: inline-block; /* en una linea en bloque*/
    position: relative;
    background-color: rgb(201, 179, 138); /*colon del fondo de la caja*/
    padding: 10px; /*espacio entre el contenido y su caja*/
    margin: 3px; /*separacion entre una caja y otra*/
    width: auto; /*adapta el largo horizontal automaticamente. (si los quiero todos iguales usar porcentaje)*/
    height: auto;
    border-radius: 50px; /*redondeo de la caja contenedora*/
}

header nav ul li a{
    color: rgb(22, 18, 26); 
    text-decoration: none; /*le saca el subrayado al enlace*/
}


main{
    /*width: 70%;*/
}
.TitulosGenerales{
    text-align: center;
    padding-bottom: 15px;
}

footer{
    /*width: 10%;*/
    background-color: burlywood;
    text-align: center;
}