*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    background-color: rgba(136, 136, 28, 0.473); /*fondo html*/
}

body{
    background-color: bisque; /*fondo body*/
    width: auto; /*largo hotizontal automatico*/
}

header{
    width: auto; /*largo hotizontal automatico*/
}

header h1{
    background-color: aquamarine;
    text-align: center;
    padding: 25px; /*espacio entre el contenido y su caja*/
}

header nav ul li{
    display: inline-block; /* en una linea en bloque*/
    position: relative;
    background-color: rgb(201, 179, 138); /*colon del fondo de la caja*/
    padding: 10px; /*espacio entre el contenido y su caja*/
   
    margin: 3px; /*separacion entre una caja y otra*/
    width: auto; /*adapta el largo horizontal automaticamente. (si los quiero todos iguales usar porcentaje)*/
    height: auto;
    border-radius: 50px; /*redondeo de la caja contenedora*/
}
header nav ul li a{
    color: rgb(22, 18, 26); 
    text-decoration: none; /*le saca el subrayado al enlace*/
}


main{
    /*width: 70%;*/
}

footer{
    /*width: 10%;*/
    background-color: burlywood;
    text-align: center;
}